[Desktop Entry]
Version=1.0
Type=Application
Name=JagexLauncher
GenericName=JagexLauncher
Comment=Jagex Launcher
Icon=com.jagex.JagexLauncher
Terminal=false
Exec=jagex-run
Categories=Game;
StartupWMClass=RuneScape
MimeType=x-scheme-handler/rs-launch;x-scheme-handler/rs-launchs
X-Flatpak-Tags=proprietary;
X-Flatpak=com.jagex.JagexLauncher
