name: build
run-name: Build Flatpak
on:
  pull_request:
  workflow_dispatch:

jobs:
  Build-Flatpak:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup GPG
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Install dependencies          
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get update -y
          git config --global protocol.file.allow always
          sudo apt-get install --no-install-recommends -y \
            icoutils \
            flatpak \
            flatpak-builder \
            elfutils \
            rsync \
            imagemagick \
            appstream \
            appstream-compose
      - name: Build the flatpak
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_KEY_GREP: ${{ secrets.GPG_KEY_GREP }}
        run: |
          ls ${{ github.workspace }}
          chmod +x build.sh
          ./build.sh
